@import "fonts.scss";
@import "common.scss";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: $base-font;
  color: $tardis;
}

body { background-color: beige; }
h1, h2 { font-weight: normal; }

#background-image, #background-color {
  position: fixed;
  top: -200px;
  left: -200px;
  width: calc(100vw + 400px);
  height: calc(100vh + 400px);
}

#background-image {
  background-image: url("../images/parchment.jpg");
  background-repeat: repeat;
  opacity: .125;
  z-index: -10;
}

#background-color {
  z-index: -5;
  background: linear-gradient(180deg, rgba(209 188 138 / .25) 0%, rgba(255 255 255 / .125) 100%);
}

#base {
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 100vh;
  padding-top: 2rem;

  #center-root-container {
    #center-root {
      //width: $line;
    }
  }
}

.overlay {
  padding-top: 1rem;
  min-width: 256px;
  z-index: 10;
}

#right-overlay {
  box-shadow: inset .5rem 0 1rem rgba(0 0 0 / .05);

  #right-top-spacer {
    width: 100%;
    aspect-ratio: 2 / 1;
    outline: 2px dotted pink;
  }
}