@font-face {
  font-family: "Angie";
  src: url("../fonts/Angie Small Caps.ttf");
}
* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  text-rendering: optimizeLegibility;
  color: rgb(72, 61, 139);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #977f73;
  background-image: url("../asset/texture/wood.jpg");
  background-repeat: repeat;
}

h1, h2, h3 {
  font-family: "Angie", fantasy, serif;
}

main {
  background-color: ivory;
  background-image: url(../asset/texture/parchment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 384px;
  box-shadow: 0 16px 32px rgb(0, 0, 0);
}
main header {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
main header h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  border-bottom: 2px inset rgba(72, 61, 139, 0.3333333333);
}
main #categories {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0.5rem;
}
main #categories a {
  padding: 0.25rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Angie", fantasy, serif;
}
main #categories a.selected {
  font-weight: bold;
  border-bottom: 2px solid rgb(72, 61, 139);
}
main #categories a.selected img {
  filter: drop-shadow(2px 2px 1px rgba(72, 61, 139, 0.25));
}
main #categories a img {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
main #links-sorter {
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1rem;
  padding: 0.5rem 2rem 0;
}
main #links-sorter .selected {
  font-weight: bold;
}
main #links-sorter > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
main #links-sorter img {
  height: 1rem;
  margin-right: 0.5rem;
}
main #links {
  padding-left: 2rem;
  padding-top: 0.5rem;
}
main #links li {
  list-style: none;
}
main #links a {
  text-decoration: none;
}

#ham {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 9999;
  border: none;
  border-radius: 9999px;
  background-color: ivory;
  height: 3rem;
  width: 3rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}
#ham.rotate {
  transform: rotate(90deg);
}
#ham img {
  width: 2rem;
}

main, #ham {
  transition: transform 0.3s ease-out;
}

#spacer {
  min-width: 384px;
}

#river {
  padding-bottom: 128px;
}
#river .entry {
  padding: 1.5rem 2rem 3rem 2rem;
  background-color: ivory;
  background-image: url(../asset/texture/parchment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 8px 32px rgb(0, 0, 0);
}
#river .entry .entry-header img {
  width: 2rem;
  height: 2rem;
}
#river .entry hr {
  margin: 1rem 0;
  border: 1px solid rgb(72, 61, 139);
}
#river .entry .entry-content hr {
  margin: 0.5rem auto;
  width: 95%;
  border: 1px solid rgba(72, 61, 139, 0.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
#river .entry p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  #spacer {
    display: none;
  }
  #river, main {
    width: 100%;
  }
  #river {
    padding: 32px;
  }
  main {
    transform: translateX(-100%);
  }
  main.show {
    transform: translateX(0);
  }
  #ham {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  #river {
    padding: 16px;
  }
  #ham {
    bottom: 1.5rem;
    left: 1.5rem;
  }
}
@media screen and (max-width: 512px) {
  #river {
    padding: 8px;
  }
  #ham {
    left: 1rem;
    bottom: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
