$px1: 2px;
$px2: 4px;
$px3: 8px;
$px4: 16px;
$px5: 32px;
$px6: 64px;
$px7: 128px;
$px8: 256px;
$px9: 512px;

$header: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$dsb: darkslateblue;
$parchment: url(../asset/texture/parchment.jpg);

* {
  font-family: $header;
  text-rendering: optimizeLegibility;
  color: $dsb;
  box-sizing: border-box;
}

body {
  background-color: #977f73;
  background-image: url('../asset/texture/wood.jpg');
  background-repeat: repeat;
}

main {
  background-color: ivory;
  background-image: $parchment;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: $px7 + $px8;
  box-shadow: 0 $px4 $px5 rgba(0 0 0 / 1);


  header {
    padding: 1rem;

    h1 {
      font-size: 3rem;
      line-height: 3rem;
      font-weight: lighter;
    }
  }

  #categories {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    a {
      padding: .25rem;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: normal;

      &.selected {
        font-weight: bold;
        border-bottom: $px1 solid $dsb;
      }

      img {
        height: 2rem;
        width: 2rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: .5rem;
      }
    }
  }

  #selection {
    justify-content: space-evenly;
    align-items: center;

    border-top: 1px solid $dsb;

    a {
      font-size: 1.25rem;
      background-color: $dsb;
      color: ivory;
      max-width: 50%;
      text-align: center;
      text-decoration: none;
      border: none;

      &.selected {
        background-color: rgba(0 0 0 / 0);
        color: $dsb;
        border-bottom: $px1 solid $dsb;
      }
    }
  }
}

#ham {
  display: none;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 9999;

  border: none;
  border-radius: 9999px;
  background-color: ivory;

  height: 3rem;
  width: 3rem;

  box-shadow: $px1 $px1 $px4 rgba(0 0 0 / .5);

  &.rotate {
    transform: rotate(90deg);
  }

  img {
    width: 2rem;
  }
}

main, #ham {
  transition: transform .3s ease-out;
}

#spacer {
  min-width: $px7 + $px8;
}

#river {

  .entry {
    padding: 1.5rem 2rem 3rem 2rem;
    background-color: ivory;
    background-image: $parchment;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 $px3 $px5 rgba(0 0 0 / 1);

    hr {
      margin: 1rem 0;
      border: 1px solid $dsb;
    }
  }
}

@media screen and (max-width: 1024px) {

  #spacer {
    display: none;
  }

  #river, main {
    width: 100%;
  }

  #river {
    padding: $px5;
  }

  main {
    transform: translateX(-100%);

    &.show {
      transform: translateX(0);
    }
  }

  #ham {
    display: flex;
  }

}

@media screen and (max-width: 768px) {

  #river {
    padding: $px4;
  }

  #ham {
    bottom: 1.5rem;
    left: 1.5rem;
  }

}

@media screen and (max-width: 512px) {

  #river {
    padding: $px3;
  }

  #ham {
    left: 1rem;
    bottom: 1rem;
  }

}